{% extends 'base.html' %}

{% load static %}

{% block title %}
    About me
{% endblock %}
{% block desc_content %}
"Tugas Perancangan & Pemrograman Web 2020/2021 Ganjil <<FULLNAME>> <<NPM>>. Dibuat dengan penuh kekesalan & kebencian ¯\_ಠ_ಠ_/¯"
{% endblock %}

{% block content %}

    <div class="grid-container-about">
        <div style="text-align: right; padding-right: 2em;">
            <img src="2021/11/zz.jpg"
                 style="border-radius: 2%;">
        </div>
        <div style="color: #85671C;padding: 3em 0em 0em 5em;">
            <h1 style="font-weight: bold; margin-bottom: 1rem; color: #85671C ; background-color:white; border-radius: 2%;">
                <<FULLNAME>></h1>
            <h1 style="color: #f0ad4e;">INFORMATION SYSTEM STUDENT</h1>
            <h1 style="color: #f0ad4e;">AT UNIVERSITAS INDONESIA</h1>
            <h1 style="color: #f0ad4e;">2019</h1>
            <h5 style="color: #f0ad4e;">NPM:<<NPM>></h5>
        </div>
    </div>

    <!-- Hobbies -->
    <div class="services" id="services">
        <div class="container">
            <h1 class="h1 in-blue">Hobbies</h1>
            <div class="row service-grids">
                <div class="col-lg-4 col-md-6 agile w3-icon-grid1">
                    <h3><i class="fa mr-2 fa-laptop" aria-hidden="true"></i>Reading</h3>
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-lg-4 col-md-6 agile mt-md-0 mt-sm-5 mt-4 w3-icon-grid1">
                    <h3><i class="fa mr-2 fa-mobile" aria-hidden="true"></i>Oprekking</h3>
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-lg-4 col-md-6 agile mt-lg-0 mt-sm-5 mt-4 w3-icon-grid1">
                    <h3><i class="fa mr-2 fa-laptop" aria-hidden="true"></i>Programming</h3>
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
                    <h3><i class="fa mr-2 fa-mobile" aria-hidden="true"></i>Systemic Thinking</h3>
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
                    <h3><i class="fa mr-2 fa-laptop" aria-hidden="true"></i>Philosophy</h3>
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
                    <h3><i class="fa mr-2 fa-mobile" aria-hidden="true"></i>Sport</h3>
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
            </div>
        </div>
    </div>

    <!-- //services -->
    <div class="experience" id="experience">
        <div class="container">
            <h1 class="h1 in-white">Educational Background</h1>
            <div class="row exp-grids">
                <div class="col-md-3 exp wthree">
                    <h4>SDIT Uswatun Hasanah</h4>
                    <h5>2007 - 2013</h5>
                </div>
                <div class="col-md-9 mt-md-0 mt-4 wthree">
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
            </div>
            <div class="row exp-grid1 mt-5 wthree">
                <div class="col-md-9 mb-md-0 mb-4">
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-md-3 exp1 wthree">
                    <h4>SMPN 1 Cimahi</h4>
                    <h5>2010 - 2013</h5>
                </div>
            </div>
            <div class="row exp-grids mt-5 wthree">
                <div class="col-md-3 exp">
                    <h4>SMAN 4 Bandung </h4>
                    <h5>2013 - 2016</h5>
                </div>
                <div class="col-md-9 mt-md-0 mt-4 wthree">
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-md-9 mt-md-0 mt-4 wthree">

                </div>
            </div>
            <div class="row exp-grid1 mt-5 wthree">
                <div class="col-md-9 mb-md-0 mb-4">
                    <p>ORAnGUtaNorANGutaN orAnGutANoRAngUtan oraNGUtanoRanGUTan OrANGuTaNorANGUtan
                        OrangutAnORAnGUTAN</p>
                </div>
                <div class="col-md-3 exp1 wthree">
                    <h4>Universitas Indonesia </h4>
                    <h5>2019 - 2023</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- //experience -->
{% endblock %}