{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block cssjs %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- for social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>{% block title %}{% endblock %} - <<FULLNAME>>'s Web</title>
    <meta name="description" content={% block desc_content %}{% endblock %}/>

    <!-- Verification -->
    <meta name="google-site-verification" content="w5VI7Hu_IdWkj3qsd6VMhCWAhbiLb6e62kkIhArH6B8" />
    <meta name="p:domain_verify" content="958a73111ecdf29108b9f4957f8bfe86"/>



</head>

<body>
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}
</body>
</html>