{% extends 'base.html' %}

{% load static %}

{% block cssjs %}
    <script src="{% static 'cerita7/js/jquery.min.js' %}"></script>
    <script src="{% static 'cerita8/js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cerita8/css/style.css' %}">
{% endblock %}


{% block title %}
    Books
{% endblock %}
{% block content %}
    <div class="container">
        <div class="m-4 p-4">
            <div class="">
                <div class="justify-content-center">
                    <div>
                        <input class="btn border-warning" id="cari" type="text" placeholder="Search by book title...">
{#                        <div class="glyphicon glyphicon-search"></div>#}
                    </div>
                    <div class="d-flex justify-content-center">
                        <table class="table table-bordered table-hover">
                            <thead style="background-color: #85671C; color: white">
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Image</th>
                            </tr>
                            </thead>
                            <tbody id="listBuku">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}